<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <delete id="deleteBatch">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


    <select id="page" resultType="com.sky.vo.DishVO">

        select dish.*, category.name categoryName from dish left join category on dish.category_id = category.id
        <where>
            <if test="name!=null"> and dish.name like concat('%',#{name},'%')</if>
            <if test="status!=null"> and dish.status = #{status}</if>
            <if test="categoryId!=null"> and dish.category_id = #{categoryId}</if>
        </where>

        order by dish.create_time desc
    </select>



    <select id="countStart" resultType="java.lang.Integer">
        select count(*) from dish where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
        and status = 1
    </select>




</mapper>
